<p style="color: green"><%= notice %></p>
  
<section>
<h1>Public Recipes</h1>

  <% @public_recipes.each_with_index do |public_recipes, index| %> <%cuentita = 0%>

    <% if public_recipes.public == true %>
    <%= link_to "Show this recipe", public_recipes %>
      <div class="public_recipe">

        <div class="recipe_info">
          <h2><%= public_recipes.name %></h2>
          <h4>By:<%= public_recipes.user.name%></h4>
        </div>

        <div class="recipe_items">
          <h4> Total Items: <%= @recipes_foods.where(recipe_id: public_recipes.id).count %> </h4>
      
          <% @recipes_foods.each_with_index do |recipes_foods, index|%>
    
            <%if recipes_foods.recipe_id == public_recipes.id && recipes_foods.food_id == recipes_foods.food.id%>

               <% cuentita += (recipes_foods.quantity.to_f*recipes_foods.food.price) %>

            <%end%>

          <%end%>

          <h4>Total cost = <%=cuentita%></h4>

        </div>
      
      </div>
    
    <%end%>

  <% end %>


</section>