<div id="<%= dom_id recipe %>">
  <p>
    <strong>Recipe: <%= recipe.id %></strong>
    <%= recipe.name %>
  </p>


  <p>
    <strong> Preparation time: <%= recipe.preparation_time %> hour</strong>
  </p>

  <p>
  <strong> Cooking time: <%= recipe.cooking_time %> hours</strong>
</p>





<%= button_to "Destroy this recipe", recipe, method: :delete %>
