<div id="<%= dom_id food %>">
  <tr>
    <td>
      <%= food.name %>
    </td>

    <td>
      <%= food.quantity %>
    </td>

    <td>
      <%= food.measurement_unit %>
    </td>

    <td>
      <%= food.price %>
    </td>
  
    <td>
    
    <%= button_to "Add", add_recipe_path(food), method: :post %>
    </td>
  <tr>
</div>
