<div id="<%= dom_id food %>">
  <tr>
    <td>
      <%= food.name %>
    </td>
    <td>
    <%= food.measurement_unit %>
    </td>
    <td>
      <%= food.price %>
    </td>

    <td>
      <%= food.quantity %>
    </td>


  
    <td>
    
    <%= button_to "Add",  add_ingredient_alone_recipe_path(food,recipe_id: recipe.id), method: :post %>
    </td>
    
  <tr>

  </div>
