<nav>
  <ul>
    <li><%= link_to "Recipes", recipes_path %></li>
    <li><%= link_to "Public Recipes", public_recipes_path %></li>
    <li><%= link_to "Foods", foods_path %></li>
    <li><%= link_to "Shoping list", general_shoping_list_total_recipe_path(@idelement) %></li>
    <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
  </ul>
</nav>